.card-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}
.card h2 {
  font-size: 16px;
}
.card p {
  opacity: .8;
}
.card img {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
}
